<div class="row">
  <div class="col-md-12">
    <h4 class="no-bottom-margin">Card ID</h4>
    <hr class="no-top-margin">
  </div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11">
    <%= f.input :rfid_uid, placeholder: "Scan ID Card", hint: 'Please tap student ID on the RFID scanner', label: false %>
  </div>
</div>