<div id="guardian-modal" class="modal fade"></div>
<div id="avatar-modal" class="modal fade"></div>
<div id="address-modal" class="modal fade"></div>
<div id="status-modal" class="modal fade"></div>
<div id="student-course-modal" class="modal fade"></div>
<div id="course-modal" class="modal fade"></div>
<div id="mobile-modal" class="modal fade"></div>
<div id="email-modal" class="modal fade"></div>
<div id="id-card-modal" class="modal fade"></div>
<div id="id-number-modal" class="modal fade"></div>
<div id="guardian-address-modal" class="modal fade"></div>
<div id="update-options-modal" class="modal fade"></div>
<div id="user-modal" class="modal fade"></div>
<div id="password-modal" class="modal fade"></div>