<small>
  <p>
    1. Header titles must be UPPERCASE.
  </p>

  <p class="no-bottom-margin">
    2. The header is required to contain atleast the following titles:
  </p>

  <p class="no-top-margin no-bottom-margin text-muted text-indent">
    ID NUMBER, CARD UID,
  </p>

  <p class="no-bottom-margin no-top-margin text-muted text-indent">
    COURSE, YEAR LEVEL,
  </p>

  <p class="no-top-margin text-muted text-indent">
    FIRST NAME, LAST NAME
  </p>

  <p class="no-top-margin no-bottom-margin">
    3. Please follow these format (YYYY-MM-DD) when filling birthdate.
  </p>

  <p class="no-top-margin text-indent text-muted">
    e.g. 2000-01-30
  </p>

  <hr class="no-top-margin no-bottom-margin">

  <p class="text-muted no-top-margin">
    *Header titles can be interchanged.
  </p>
  <p class="text-muted no-bottom-margin no-top-margin">
    *If error message: "Invalid Excel File" occurs, check the following:
  </p>
  <hr class="bottom-margin-zero">
  <center>
    <%=link_to "Download Template", download_template_students_path(format: :xlsx), class: 'btn btn-success' %><br>
    <span class="text-muted">
      to start filling data.
    </span>
  </center>
</small>