<small>
	<p class="no-bottom-margin">
    1. Please follow these format (YYYY-MM-DD) when filling birthdate.
  </p>
  <p class="no-top-margin text-indent text-muted">
    e.g. 2000-01-30
  </p>
	<center>
    <%=link_to "Download Template", full_template_students_path(format: :xlsx), class: 'btn btn-success' %><br>
    <span class="text-muted">
      to start filling data.
    </span>
  </center>
</small>