<small>
	<p class="no-bottom-margin">Updating Photo</p>
	<p class="no-top-margin text-muted text-indent">
		- Align cursor on the photo and click <cite title="Update Photo"> <i class="fa fa-photo fa-lg"></i></cite> icon.
	</p>

	<p class="no-bottom-margin">Updating Status</p>
	<p class="no-top-margin text-muted text-indent">
		- Align cursor on the photo and click <cite title="Update Status"> <i class="fa fa-pencil-square-o fa-lg"></i></cite> icon.
	</p>

	<p class="no-bottom-margin">Updating Personal Details</p>
	<p class="no-top-margin no-bottom-margin text-indent">
		<span class="text-muted">- Align cursor on the title:</span>
	</p>
	<p class="no-top-margin text-indent">
		Personal Details <span class="text-muted">and click <cite title="Update Personal Details"><i class="fa fa-pencil-square-o fa-lg"></i></cite> icon.</span>
	</p>

	<p class="no-top-margin no-bottom-margin text-muted text-indent">*Follow the update conventions 
	<p class="no-top-margin no-bottom-margin text-muted text-indent">on personal details when updating</p>
	<p class="no-top-margin text-muted text-indent">Address Details and Guardian Details.</p>
</small>