<a tabindex="0" id="details" class="btn btn-xs btn-primary" role="button" data-toggle="popover" data-placement="bottom" data-html="true" data-trigger="focus" title="" data-content='<%=link_to "Details", info_student_path(student), class: "btn btn-xs btn-info btn-block" %>
  <%=link_to "Update Status", edit_student_status_path(id: student.id, student_id: student.id), class: "btn btn-xs btn-success btn-block", remote: true %>'>
  Options
</a>