<small>
  <h5 class="text-muted">SEARCH STUDENT</h5>
  <p>
    Search student by: "First Name, Last Name, Middle Name, ID Number, Mobile Number, Address: (by: Sitio, Barangay, Municipality, Province)"
  </p>
</small>