<small>
	<p class="no-bottom-margin">
    1. Upload multiple photos by course and year level.
  </p>
  <p class="no-bottom-margin">
    2. Only accepts the following image formats:
  </p>
  <p class="no-bottom-margin no-top-margin">
    <span class="text-muted">JPG, JPEG, PNG, GIF</span>
  </p>
</small>