<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        Guardian Update Options
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <%= link_to new_student_guardian_path(@student) do %>
            <h4>Change Guardian</h4>
            <p>This option will create a new guardian.</p>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to edit_student_guardian_path(@student) do %>
            <h4>Update Guardian Details</h4>
            <p>This option will only update guardian details.</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%#= link_to 'Cancel', monitoring_project_path(@project), class: 'btn btn-default pull-left' %>
      <%= link_to "Cancel", "#", class: "btn btn-default pull-left", data: {dismiss: "modal"} %>
    </div>
  </div>
</div>
