<div class="modal fade" id="mainModal" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= yield %>
    </div>
  </div>
</div>
